In [1]:
import numpy as np
import pandas as pd

In [152]:
credits_df= pd.read_csv("./datasets/credits.csv")
movies_df= pd.read_csv("./datasets/movies_metadata.csv")

C:\Users\Akshay\AppData\Local\Temp\ipykernel_1728\3629690804.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df= pd.read_csv("./datasets/movies_metadata.csv")

In [153]:
credits_df

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [154]:
movies_df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [155]:
credits_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [156]:
credits_df.tail()

,cast,crew,id
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [157]:
print(movies_df.dtypes)
for i in range(len(movies_df)):
    try:
        movies_df["id"][i] = int(movies_df["id"][i])

    except:
        movies_df.drop(i,inplace=True)

movies_df[['id']]=movies_df[['id']].apply(pd.to_numeric)
movies_df.to_excel('./datasets/new_movies_metadata.xlsx')
print("\nafter conversion\n")
print(movies_df.dtypes)

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

C:\Users\Akshay\AppData\Local\Temp\ipykernel_1728\3934491329.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df["id"][i] = int(movies_df["id"][i])
C:\Users\Akshay\AppData\Local\Temp\ipykernel_1728\3934491329.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df["id"][i] = int(movies_df["id"][i])
C:\Users\Akshay\AppData\Local\Temp\ipykernel_1728\3934491329.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df["id"][i] = int(movies_df["id"][i])
C:\Users\Akshay\AppData\Local\Temp\ipykernel_1728\3934491329.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df["id"][i] = int(movies_df["id"][i])

after conversion

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                         int64
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [158]:
movies_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [159]:
credits_df.head(1)['cast'].values

array(["[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]"],
      dtype=object)

In [160]:
movies_df=movies_df.merge(credits_df,on="id")

In [161]:
movies_df.shape

(45538, 26)

In [162]:
credits_df.shape

(45476, 3)

In [163]:
movies_df.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."

In [164]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45538 entries, 0 to 45537
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45538 non-null  object
 1   belongs_to_collection  4500 non-null   object
 2   budget                 45538 non-null  object
 3   genres                 45538 non-null  object
 4   homepage               7792 non-null   object
 5   id                     45538 non-null  int64
 6   imdb_id                45521 non-null  object
 7   original_language      45527 non-null  object
 8   original_title         45538 non-null  object
 9   overview               44584 non-null  object
 10  popularity             45535 non-null  object
 11  poster_path            45152 non-null  object
 12  production_companies   45535 non-null  object
 13  production_countries   45535 non-null  object
 14  release_date           45451 non-null  object
 15  revenue                45535 non-null  float64
 16  runtime                45278 non-null  float64
 17  spoken_languages       45535 non-null  object
 18  status                 45454 non-null  object
 19  tagline                20439 non-null  object
 20  title                  45535 non-null  object
 21  video                  45535 non-null  object
 22  vote_average           45535 non-null  float64
 23  vote_count             45535 non-null  float64
 24  cast                   45538 non-null  object
 25  crew                   45538 non-null  object
dtypes: float64(4), int64(1), object(21)
memory usage: 9.4+ MB

keeping only genres,id,keywords,title,overview,cast,crew

In [165]:
movies_df=movies_df[['id','overview','title','genres','cast','crew']]

In [166]:
movies_df.head()

,id,overview,title,genres,cast,crew
0,862,"Led by Woody, Andy's toys live happily in his ...",Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,When siblings Judy and Peter discover an encha...,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,A family wedding reignites the ancient feud be...,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,"Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Just when George Banks has recovered from his ...,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [167]:
movies_df.isnull().sum()

id            0
overview    954
title         3
genres        0
cast          0
crew          0
dtype: int64

In [168]:
movies_df.dropna(inplace=True)

In [169]:
movies_df.isnull().sum()

id          0
overview    0
title       0
genres      0
cast        0
crew        0
dtype: int64

In [170]:
movies_df.duplicated().sum()

99

In [171]:
movies_df=movies_df.drop_duplicates()

In [172]:
movies_df.duplicated().sum()

0

In [173]:
movies_df.iloc[0].genres

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [11]:
#for converting dictionaries inside the string to proper dictionaries
import ast

In [175]:
#for taking the names from the given dictnory and converting it into list
def convert_genres(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [176]:
movies_df['genres']=movies_df['genres'].apply(convert_genres)

In [177]:
#for taking the names of 1st 3 persons from the given dictnory and converting it into list
def convert_cast(obj):
    L=[]
    ct=0
    for i in ast.literal_eval(obj):
        if ct!=3:
            L.append(i['name'])
            ct+=1

    return L

In [178]:
movies_df['cast']=movies_df['cast'].apply(convert_cast)

In [179]:
ast.literal_eval(movies_df['crew'][0])

[{'credit_id': '52fe4284c3a36847f8024f49',
  'department': 'Directing',
  'gender': 2,
  'id': 7879,
  'job': 'Director',
  'name': 'John Lasseter',
  'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f4f',
  'department': 'Writing',
  'gender': 2,
  'id': 12891,
  'job': 'Screenplay',
  'name': 'Joss Whedon',
  'profile_path': '/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f55',
  'department': 'Writing',
  'gender': 2,
  'id': 7,
  'job': 'Screenplay',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f5b',
  'department': 'Writing',
  'gender': 2,
  'id': 12892,
  'job': 'Screenplay',
  'name': 'Joel Cohen',
  'profile_path': '/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f61',
  'department': 'Writing',
  'gender': 0,
  'id': 12893,
  'job': 'Screenplay',
  'name': 'Alec Sokolow',
  'profile_path': '/v79vlRYi94BZUQnkkyznbGUZLjT.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f67',
  'department': 'Production',
  'gender': 1,
  'id': 12894,
  'job': 'Producer',
  'name': 'Bonnie Arnold',
  'profile_path': None},
 {'credit_id': '52fe4284c3a36847f8024f6d',
  'department': 'Production',
  'gender': 0,
  'id': 12895,
  'job': 'Executive Producer',
  'name': 'Ed Catmull',
  'profile_path': None},
 {'credit_id': '52fe4284c3a36847f8024f73',
  'department': 'Production',
  'gender': 2,
  'id': 12896,
  'job': 'Producer',
  'name': 'Ralph Guggenheim',
  'profile_path': None},
 {'credit_id': '52fe4284c3a36847f8024f79',
  'department': 'Production',
  'gender': 2,
  'id': 12897,
  'job': 'Executive Producer',
  'name': 'Steve Jobs',
  'profile_path': '/mOMP3SwD5qWQSR0ldCIByd3guTV.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f8b',
  'department': 'Editing',
  'gender': 2,
  'id': 8,
  'job': 'Editor',
  'name': 'Lee Unkrich',
  'profile_path': '/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f91',
  'department': 'Art',
  'gender': 2,
  'id': 7883,
  'job': 'Art Direction',
  'name': 'Ralph Eggleston',
  'profile_path': '/uUfcGKDsKO1aROMpXRs67Hn6RvR.jpg'},
 {'credit_id': '598331bf925141421201044b',
  'department': 'Editing',
  'gender': 2,
  'id': 1168870,
  'job': 'Editor',
  'name': 'Robert Gordon',
  'profile_path': None},
 {'credit_id': '5892168cc3a36809660095f9',
  'department': 'Sound',
  'gender': 0,
  'id': 1552883,
  'job': 'Foley Editor',
  'name': 'Mary Helen Leasman',
  'profile_path': None},
 {'credit_id': '5531824d9251415289000945',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1453514,
  'job': 'Animation',
  'name': 'Kim Blanchette',
  'profile_path': None},
 {'credit_id': '589215969251412dcb009bf6',
  'department': 'Sound',
  'gender': 0,
  'id': 1414182,
  'job': 'ADR Editor',
  'name': 'Marilyn McCoppen',
  'profile_path': None},
 {'credit_id': '589217099251412dc500a018',
  'department': 'Sound',
  'gender': 2,
  'id': 7885,
  'job': 'Orchestrator',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'credit_id': '5693e6b29251417b0e0000e3',
  'department': 'Editing',
  'gender': 0,
  'id': 1429549,
  'job': 'Color Timer',
  'name': 'Dale E. Grahn',
  'profile_path': None},
 {'credit_id': '572e2522c3a36869e6001a9c',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 7949,
  'job': 'CG Painter',
  'name': 'Robin Cooper',
  'profile_path': None},
 {'credit_id': '574f12309251415ca1000012',
  'department': 'Writing',
  'gender': 2,
  'id': 7879,
  'job': 'Original Story',
  'name': 'John Lasseter',
  'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'},
 {'credit_id': '574f1240c3a3682e7300001c',
  'department': 'Writing',
  'gender': 2,
  'id': 12890,
  'job': 'Original Story',
  'name': 'Pete Docter',
  'profile_path': '/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg'},
 {'credit_id': '574f12519251415c92000015',
  'department': 'Writing',
  'gender': 0,
  'id': 7911,
  'job': 'Original Story',
  'name': 'Joe Ranft',
  'profile_path': '/f1BoWC2JbCcfP1e5hKfGsxkHzVU.jpg'},
 {'credit_id': '574f12cec3a3682e82000022',
  'department': 'Crew',
  'gender': 0,
  'id': 1629419,
  'job': 'Post Production Supervisor',
  'name': 'Patsy Bouge',
  'profile_path': None},
 {'credit_id': '574f14f19251415ca1000082',
  'department': 'Art',
  'gender': 0,
  'id': 7961,
  'job': 'Sculptor',
  'name': 'Norm DeCarlo',
  'profile_path': None},
 {'credit_id': '5751ae4bc3a3683772002b7f',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 12905,
  'job': 'Animation Director',
  'name': 'Ash Brannon',
  'profile_path': '/6ueWgPEEBHvS3De2BHYQnYjRTig.jpg'},
 {'credit_id': '5891edbe9251412dc5007cd6',
  'department': 'Sound',
  'gender': 2,
  'id': 7885,
  'job': 'Music',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'credit_id': '589213d39251412dc8009832',
  'department': 'Directing',
  'gender': 0,
  'id': 1748707,
  'job': 'Layout',
  'name': 'Roman Figun',
  'profile_path': None},
 {'credit_id': '5892173dc3a3680968009351',
  'department': 'Sound',
  'gender': 2,
  'id': 4949,
  'job': 'Orchestrator',
  'name': 'Don Davis',
  'profile_path': None},
 {'credit_id': '589217cec3a3686b0a0052ba',
  'department': 'Sound',
  'gender': 0,
  'id': 1372885,
  'job': 'Music Editor',
  'name': 'James Flamberg',
  'profile_path': None},
 {'credit_id': '58921831c3a3686348004a64',
  'department': 'Editing',
  'gender': 0,
  'id': 1739962,
  'job': 'Negative Cutter',
  'name': 'Mary Beth Smith',
  'profile_path': None},
 {'credit_id': '58921838c3a36809700096c0',
  'department': 'Editing',
  'gender': 0,
  'id': 1748513,
  'job': 'Negative Cutter',
  'name': 'Rick Mackay',
  'profile_path': None},
 {'credit_id': '589218429251412dd1009d1b',
  'department': 'Art',
  'gender': 0,
  'id': 1458006,
  'job': 'Title Designer',
  'name': 'Susan Bradley',
  'profile_path': None},
 {'credit_id': '5891ed99c3a3680966007670',
  'department': 'Crew',
  'gender': 0,
  'id': 1748557,
  'job': 'Supervising Technical Director',
  'name': 'William Reeves',
  'profile_path': None},
 {'credit_id': '5891edcec3a3686b0a002eb2',
  'department': 'Sound',
  'gender': 2,
  'id': 7885,
  'job': 'Songs',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'credit_id': '5891edf9c3a36809700075e6',
  'department': 'Writing',
  'gender': 2,
  'id': 7,
  'job': 'Original Story',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'credit_id': '58920f0b9251412dd7009104',
  'department': 'Crew',
  'gender': 2,
  'id': 12890,
  'job': 'Supervising Animator',
  'name': 'Pete Docter',
  'profile_path': '/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg'},
 {'credit_id': '58920f1fc3a3680977009021',
  'department': 'Sound',
  'gender': 2,
  'id': 2216,
  'job': 'Sound Designer',
  'name': 'Gary Rydstrom',
  'profile_path': '/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg'},
 {'credit_id': '58920f389251412dd700912d',
  'department': 'Production',
  'gender': 0,
  'id': 12909,
  'job': 'Production Supervisor',
  'name': 'Karen Robert Jackson',
  'profile_path': None},
 {'credit_id': '58920fbd9251412dcb00969c',
  'department': 'Crew',
  'gender': 0,
  'id': 953331,
  'job': 'Executive Music Producer',
  'name': 'Chris Montan',
  'profile_path': None},
 {'credit_id': '589210069251412dd7009219',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 7893,
  'job': 'Animation Director',
  'name': 'Rich Quade',
  'profile_path': None},
 {'credit_id': '589210329251412dcd00943b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8025,
  'job': 'Animation',
  'name': 'Michael Berenstein',
  'profile_path': None},
 {'credit_id': '5892103bc3a368096a009180',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 78009,
  'job': 'Animation',
  'name': 'Colin Brady',
  'profile_path': None},
 {'credit_id': '5892105dc3a3680968008db2',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748682,
  'job': 'Animation',
  'name': 'Davey Crockett Feiten',
  'profile_path': None},
 {'credit_id': '589210669251412dcd009466',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1454030,
  'job': 'Animation',
  'name': 'Angie Glocka',
  'profile_path': None},
 {'credit_id': '5892107c9251412dd1009613',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748683,
  'job': 'Animation',
  'name': 'Rex Grignon',
  'profile_path': None},
 {'credit_id': '5892108ac3a3680973008d3f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748684,
  'job': 'Animation',
  'name': 'Tom K. Gurney',
  'profile_path': None},
 {'credit_id': '58921093c3a3686348004477',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 8029,
  'job': 'Animation',
  'name': 'Jimmy Hayward',
  'profile_path': '/lTDRpudEY7BDwTefXbXzMlmb0ui.jpg'},
 {'credit_id': '5892109b9251412dcd0094b0',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1426773,
  'job': 'Animation',
  'name': 'Hal T. Hickel',
  'profile_path': None},
 {'credit_id': '589210a29251412dc5009a29',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8035,
  'job': 'Animation',
  'name': 'Karen Kiser',
  'profile_path': None},
 {'credit_id': '589210ccc3a3680977009191',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748688,
  'job': 'Animation',
  'name': 'Anthony B. LaMolinara',
  'profile_path': None},
 {'credit_id': '589210d7c3a3686b0a004c1f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 587314,
  'job': 'Animation',
  'name': 'Guionne Leroy',
  'profile_path': None},
 {'credit_id': '589210e1c3a36809770091a7',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7918,
  'job': 'Animation',
  'name': 'Bud Luckey',
  'profile_path': '/pcCh7G19FKMNijmPQg1PMH1btic.jpg'},
 {'credit_id': '589210ee9251412dc200978a',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748689,
  'job': 'Animation',
  'name': 'Les Major',
  'profile_path': None},
 {'credit_id': '589210fa9251412dc8009595',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7892,
  'job': 'Animation',
  'name': 'Glenn McQueen',
  'profile_path': None},
 {'credit_id': '589211029251412dc8009598',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 555795,
  'job': 'Animation',
  'name': 'Mark Oftedal',
  'profile_path': None},
 {'credit_id': '5892110b9251412dc800959d',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7882,
  'job': 'Animation',
  'name': 'Jeff Pidgeon',
  'profile_path': '/yLddkg5HcgbJg00cS13GVBnP0HY.jpg'},
 {'credit_id': '58921113c3a36863480044e4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8017,
  'job': 'Animation',
  'name': 'Jeff Pratt',
  'profile_path': None},
 {'credit_id': '5892111c9251412dcb0097e9',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1184140,
  'job': 'Animation',
  'name': 'Steve Rabatich',
  'profile_path': None},
 {'credit_id': '58921123c3a36809700090f6',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8049,
  'job': 'Animation',
  'name': 'Roger Rose',
  'profile_path': None},
 {'credit_id': '5892112b9251412dcb0097fb',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1509559,
  'job': 'Animation',
  'name': 'Steve Segal',
  'profile_path': None},
 {'credit_id': '589211349251412dc80095c3',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748691,
  'job': 'Animation',
  'name': 'Doug Sheppeck',
  'profile_path': None},
 {'credit_id': '5892113cc3a3680970009106',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8050,
  'job': 'Animation',
  'name': 'Alan Sperling',
  'profile_path': None},
 {'credit_id': '58921148c3a3686b0a004c99',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8010,
  'job': 'Animation',
  'name': 'Doug Sweetland',
  'profile_path': None},
 {'credit_id': '58921150c3a3680966009125',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8044,
  'job': 'Animation',
  'name': 'David Tart',
  'profile_path': None},
 {'credit_id': '589211629251412dc5009b00',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1454034,
  'job': 'Animation',
  'name': 'Ken Willard',
  'profile_path': None},
 {'credit_id': '589211c1c3a3686b0a004d28',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 7887,
  'job': 'Visual Effects Supervisor',
  'name': 'Thomas Porter',
  'profile_path': None},
 {'credit_id': '589211d4c3a3680968008ed9',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1406878,
  'job': 'Visual Effects',
  'name': 'Mark Thomas Henne',
  'profile_path': None},
 {'credit_id': '589211f59251412dd4008e65',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748698,
  'job': 'Visual Effects',
  'name': 'Oren Jacob',
  'profile_path': None},
 {'credit_id': '58921242c3a368096a00939b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748699,
  'job': 'Visual Effects',
  'name': 'Darwyn Peachey',
  'profile_path': None},
 {'credit_id': '5892124b9251412dc5009bd2',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748701,
  'job': 'Visual Effects',
  'name': 'Mitch Prater',
  'profile_path': None},
 {'credit_id': '58921264c3a3686b0a004dbf',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748703,
  'job': 'Visual Effects',
  'name': 'Brian M. Rosen',
  'profile_path': None},
 {'credit_id': '589212709251412dcd009676',
  'department': 'Lighting',
  'gender': 1,
  'id': 12912,
  'job': 'Lighting Supervisor',
  'name': 'Sharon Calahan',
  'profile_path': None},
 {'credit_id': '5892127fc3a3686b0a004de5',
  'department': 'Lighting',
  'gender': 0,
  'id': 7899,
  'job': 'Lighting Supervisor',
  'name': 'Galyn Susman',
  'profile_path': None},
 {'credit_id': '589212cdc3a3680970009268',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 12915,
  'job': 'CG Painter',
  'name': 'William Cone',
  'profile_path': None},
 {'credit_id': '5892130f9251412dc8009791',
  'department': 'Art',
  'gender': 0,
  'id': 1748705,
  'job': 'Sculptor',
  'name': 'Shelley Daniels Lekven',
  'profile_path': None},
 {'credit_id': '5892131c9251412dd4008f4c',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7889,
  'job': 'Character Designer',
  'name': 'Bob Pauley',
  'profile_path': None},
 {'credit_id': '589213249251412dd100987b',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7918,
  'job': 'Character Designer',
  'name': 'Bud Luckey',
  'profile_path': '/pcCh7G19FKMNijmPQg1PMH1btic.jpg'},
 {'credit_id': '5892132b9251412dc80097b1',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7,
  'job': 'Character Designer',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'credit_id': '58921332c3a368634800467b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 12915,
  'job': 'Character Designer',
  'name': 'William Cone',
  'profile_path': None},
 {'credit_id': '5892135f9251412dd4008f90',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748706,
  'job': 'Character Designer',
  'name': 'Steve Johnson',
  'profile_path': None},
 {'credit_id': '58921384c3a3680973008fd4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1176752,
  'job': 'Character Designer',
  'name': 'Dan Haskett',
  'profile_path': None},
 {'credit_id': '5892138e9251412dc20099fc',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1088034,
  'job': 'Character Designer',
  'name': 'Tom Holloway',
  'profile_path': '/a0r0T2usTBpgMI5aZbRBDW1fTl8.jpg'},
 {'credit_id': '58921395c3a368097700942f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1447465,
  'job': 'Character Designer',
  'name': 'Jean Gillmore',
  'profile_path': None},
 {'credit_id': '589213e2c3a3680973009026',
  'department': 'Directing',
  'gender': 0,
  'id': 1748709,
  'job': 'Layout',
  'name': 'Desirée Mourad',
  'profile_path': None},
 {'credit_id': '589214099251412dc5009d57',
  'department': 'Art',
  'gender': 0,
  'id': 1748710,
  'job': 'Set Dresser',
  'name': "Kelly O'Connell",
  'profile_path': None},
 {'credit_id': '58921411c3a3686b0a004f70',
  'department': 'Art',
  'gender': 0,
  'id': 1443471,
  'job': 'Set Dresser',
  'name': 'Sonoko Konishi',
  'profile_path': None},
 {'credit_id': '58921434c3a368096a00956e',
  'department': 'Art',
  'gender': 0,
  'id': 1748711,
  'job': 'Set Dresser',
  'name': 'Ann M. Rockwell',
  'profile_path': None},
 {'credit_id': '5892144ac3a36809680090de',
  'department': 'Editing',
  'gender': 0,
  'id': 1748712,
  'job': 'Editorial Manager',
  'name': 'Julie M. McDonald',
  'profile_path': None},
 {'credit_id': '58921479c3a368096800910f',
  'department': 'Editing',
  'gender': 0,
  'id': 1589729,
  'job': 'Assistant Editor',
  'name': 'Robin Lee',
  'profile_path': None},
 {'credit_id': '5892148b9251412dd10099cc',
  'department': 'Editing',
  'gender': 0,
  'id': 1748716,
  'job': 'Assistant Editor',
  'name': 'Tom Freeman',
  'profile_path': None},
 {'credit_id': '589214959251412dcb009b1f',
  'department': 'Editing',
  'gender': 0,
  'id': 1748717,
  'job': 'Assistant Editor',
  'name': 'Ada Cochavi',
  'profile_path': None},
 {'credit_id': '5892149ec3a3686348004798',
  'department': 'Editing',
  'gender': 0,
  'id': 1336438,
  'job': 'Assistant Editor',
  'name': 'Dana Mulligan',
  'profile_path': None},
 {'credit_id': '589214adc3a368096a0095db',
  'department': 'Editing',
  'gender': 0,
  'id': 1748718,
  'job': 'Editorial Coordinator',
  'name': 'Deirdre Morrison',
  'profile_path': None},
 {'credit_id': '589214c7c3a368097700952b',
  'department': 'Production',
  'gender': 0,
  'id': 1748719,
  'job': 'Production Coordinator',
  'name': 'Lori Lombardo',
  'profile_path': None},
 {'credit_id': '589214cec3a368096a009603',
  'department': 'Production',
  'gender': 0,
  'id': 1748720,
  'job': 'Production Coordinator',
  'name': 'Ellen Devine',
  'profile_path': None},
 {'credit_id': '589214e39251412dc8009904',
  'department': 'Crew',
  'gender': 0,
  'id': 1468014,
  'job': 'Unit Publicist',
  'name': 'Lauren Beth Strogoff',
  'profile_path': None},
 {'credit_id': '58921544c3a3686b0a00507d',
  'department': 'Sound',
  'gender': 2,
  'id': 2216,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary Rydstrom',
  'profile_path': '/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg'},
 {'credit_id': '5892154c9251412dd1009a56',
  'department': 'Sound',
  'gender': 0,
  'id': 1425978,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary Summers',
  'profile_path': None},
 {'credit_id': '58921555c3a36809680091bd',
  'department': 'Sound',
  'gender': 2,
  'id': 8276,
  'job': 'Supervising Sound Editor',
  'name': 'Tim Holland',
  'profile_path': None},
 {'credit_id': '589215c39251412dcb009c12',
  'department': 'Sound',
  'gender': 0,
  'id': 7069,
  'job': 'Sound Effects Editor',
  'name': 'Pat Jackson',
  'profile_path': None},
 {'credit_id': '58921698c3a368096a009788',
  'department': 'Crew',
  'gender': 2,
  'id': 15894,
  'job': 'Sound Design Assistant',
  'name': 'Tom Myers',
  'profile_path': None},
 {'credit_id': '589216a89251412dc2009ca4',
  'department': 'Sound',
  'gender': 0,
  'id': 1414177,
  'job': 'Assistant Sound Editor',
  'name': 'J.R. Grubbs',
  'profile_path': None},
 {'credit_id': '589216c19251412dc2009cb9',
  'department': 'Sound',
  'gender': 1,
  'id': 1748724,
  'job': 'Assistant Sound Editor',
  'name': 'Susan Sanford',
  'profile_path': None},
 {'credit_id': '589216ccc3a3680973009274',
  'department': 'Sound',
  'gender': 0,
  'id': 1748725,
  'job': 'Assistant Sound Editor',
  'name': 'Susan Popovic',
  'profile_path': None},
 {'credit_id': '589216d79251412dc8009aa0',
  'department': 'Sound',
  'gender': 0,
  'id': 8067,
  'job': 'Assistant Sound Editor',
  'name': 'Dan Engstrom',
  'profile_path': None},
 {'credit_id': '589216e49251412dcd009a4f',
  'department': 'Production',
  'gender': 1,
  'id': 7902,
  'job': 'Casting Consultant',
  'name': 'Ruth Lambert',
  'profile_path': None},
 {'credit_id': '589216f39251412dc2009cf3',
  'department': 'Production',
  'gender': 0,
  'id': 84493,
  'job': 'ADR Voice Casting',
  'name': 'Mickie McGowan',

In [180]:
#for taking the names from the given dictnory and converting it into list
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
            break
    return L

In [9]:
#for taking the names of 1st 3 persons from the given dictnory and converting it into list
def convert_keywords(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])

    return L

In [7]:
#forgott to include keywords
new_movies_df= pd.read_excel("./datasets/new_movies_metadata.xlsx")
keywords_df=pd.read_csv("./datasets/keywords.csv")
new_movies_df=new_movies_df.merge(keywords_df,on="id")

In [12]:
new_movies_df['keywords']=new_movies_df['keywords'].apply(convert_keywords)
new_movies_df['keywords'][0]

['jealousy',
 'toy',
 'boy',
 'friendship',
 'friends',
 'rivalry',
 'boy next door',
 'new toy',
 'toy comes to life']

In [181]:
movies_df['crew']=movies_df['crew'].apply(fetch_director)

In [182]:
movies_df['crew'][0]

['John Lasseter']

In [183]:
movies_df.head()

,id,overview,title,genres,cast,crew
0,862,"Led by Woody, Andy's toys live happily in his ...",Toy Story,"[Animation, Comedy, Family]","[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter]
1,8844,When siblings Judy and Peter discover an encha...,Jumanji,"[Adventure, Fantasy, Family]","[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston]
2,15602,A family wedding reignites the ancient feud be...,Grumpier Old Men,"[Romance, Comedy]","[Walter Matthau, Jack Lemmon, Ann-Margret]",[Howard Deutch]
3,31357,"Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale,"[Comedy, Drama, Romance]","[Whitney Houston, Angela Bassett, Loretta Devine]",[Forest Whitaker]
4,11862,Just when George Banks has recovered from his ...,Father of the Bride Part II,[Comedy],"[Steve Martin, Diane Keaton, Martin Short]",[Charles Shyer]

In [184]:
#saving progress
movies_df.to_excel('./datasets/new_movies_metadata.xlsx')

In [185]:
movies_df['overview'][0 ]

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences."

In [186]:
movies_df['overview']=movies_df['overview'].apply(lambda x:x.split())

In [187]:
#saving progress
movies_df.to_excel('./datasets/new_movies_metadata.xlsx')

In [188]:
movies_df.head()

,id,overview,title,genres,cast,crew
0,862,"[Led, by, Woody,, Andy's, toys, live, happily,...",Toy Story,"[Animation, Comedy, Family]","[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter]
1,8844,"[When, siblings, Judy, and, Peter, discover, a...",Jumanji,"[Adventure, Fantasy, Family]","[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston]
2,15602,"[A, family, wedding, reignites, the, ancient, ...",Grumpier Old Men,"[Romance, Comedy]","[Walter Matthau, Jack Lemmon, Ann-Margret]",[Howard Deutch]
3,31357,"[Cheated, on,, mistreated, and, stepped, on,, ...",Waiting to Exhale,"[Comedy, Drama, Romance]","[Whitney Houston, Angela Bassett, Loretta Devine]",[Forest Whitaker]
4,11862,"[Just, when, George, Banks, has, recovered, fr...",Father of the Bride Part II,[Comedy],"[Steve Martin, Diane Keaton, Martin Short]",[Charles Shyer]

In [189]:
#removing the spaces between the words
movies_df['genres']=movies_df['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies_df['cast']=movies_df['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies_df['crew']=movies_df['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [14]:
new_movies_df['keywords']=new_movies_df['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

In [19]:
new_movies_df['keywords']=new_movies_df['keywords'].apply(lambda i:" ".join(i))
new_movies_df['keywords']=new_movies_df['keywords'].apply(lambda x:x.lower())
new_movies_df['keywords'][0]

'jealousy toy boy friendship friends rivalry boynextdoor newtoy toycomestolife'

In [17]:
new_movies_df['keywords'][0]

['jealousy',
 'toy',
 'boy',
 'friendship',
 'friends',
 'rivalry',
 'boynextdoor',
 'newtoy',
 'toycomestolife']

In [20]:
new_movies_df['tags']+=new_movies_df['keywords']

In [190]:
#creating tags 
movies_df['tags']=movies_df['overview']+movies_df['genres']+movies_df['cast']+movies_df['crew']

In [24]:
new_movies_df.head()

,id,title,tags
0,862,Toy Story,"led by woody, andy' toy live happili in hi roo..."
1,8844,Jumanji,when sibl judi and peter discov an enchant boa...
2,15602,Grumpier Old Men,a famili wed reignit the ancient feud between ...
3,31357,Waiting to Exhale,"cheat on, mistreat and step on, the women are ..."
4,11862,Father of the Bride Part II,just when georg bank ha recov from hi daughter...

In [23]:
#taking only the required values
new_movies_df=movies_df[['id','title','tags']]

In [193]:
#making it into a single string
new_movies_df['tags']=new_movies_df['tags'].apply(lambda x:" ".join(x))

C:\Users\Akshay\AppData\Local\Temp\ipykernel_1728\1032755552.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies_df['tags']=new_movies_df['tags'].apply(lambda x:" ".join(x))

In [25]:
new_movies_df['tags']=new_movies_df['tags'].apply(lambda x:x.lower())

In [195]:
new_movies_df.head()

,id,title,tags
0,862,Toy Story,"led by woody, andy's toys live happily in his ..."
1,8844,Jumanji,when siblings judy and peter discover an encha...
2,15602,Grumpier Old Men,a family wedding reignites the ancient feud be...
3,31357,Waiting to Exhale,"cheated on, mistreated and stepped on, the wom..."
4,11862,Father of the Bride Part II,just when george banks has recovered from his ...

In [26]:
#saving progress
new_movies_df.to_excel('./datasets/new_movies_metadata.xlsx')

In [27]:
#nltk is a very good natural lnguage processing library
from nltk.stem.porter import PorterStemmer as ps
#ps=PorterStemmer

stemming is the method of getting the root word from the word
eg: love,loved,loving it's root word is love

In [28]:
#stem function
def stem(text):
    lst=[]
    for i in text.split():
        lst.append(ps().stem(i))
    return " ".join(lst)

In [29]:
new_movies_df['tags']=new_movies_df['tags'].apply(stem)

In [30]:
#saving progress
new_movies_df.to_excel('./datasets/new_movies_metadata.xlsx')

DOing text vectorization
some techniques
    bag of words
        The vector’s values represent the frequency with which each word appears in a given text passag

CountVectorizer is a great tool provided by the scikit-learn library in Python. It is used to transform a given text into a vector on the basis of the frequency (count) of each word that occurs in the entire text.

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
#setting the maximum no. of as 5k and removing the stopwords
#like in of the etc.
cv=CountVectorizer(max_features=5000,stop_words='english')

In [32]:
#transforming the word count into an array
movies_vector=cv.fit_transform(new_movies_df['tags']).toarray()

In [33]:
movies_vector[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [34]:
cv.vocabulary_

{'led': 2636,
 'toy': 4579,
 'live': 2699,
 'happili': 2066,
 'hi': 2137,
 'room': 3836,
 'birthday': 543,
 'bring': 634,
 'scene': 3917,
 'afraid': 171,
 'lose': 2726,
 'place': 3375,
 'heart': 2109,
 'plot': 3396,
 'circumst': 853,
 'separ': 3991,
 'owner': 3236,
 'duo': 1427,
 'eventu': 1600,
 'learn': 2633,
 'asid': 355,
 'anim': 268,
 'comedi': 944,
 'famili': 1685,
 'tomhank': 4556,
 'boy': 607,
 'friendship': 1862,
 'friend': 1859,
 'rivalri': 3792,
 'sibl': 4067,
 'peter': 3336,
 'discov': 1320,
 'enchant': 1521,
 'board': 574,
 'game': 1887,
 'open': 3191,
 'door': 1375,
 'magic': 2779,
 'world': 4952,
 'unwittingli': 4727,
 'invit': 2390,
 'alan': 201,
 'adult': 154,
 'trap': 4604,
 'insid': 2342,
 'year': 4978,
 'onli': 3187,
 'hope': 2189,
 'freedom': 1853,
 'finish': 1763,
 'prove': 3540,
 'themselv': 4499,
 'run': 3856,
 'giant': 1933,
 'evil': 1609,
 'monkey': 2978,
 'terrifi': 4479,
 'creatures': 1100,
 'adventur': 161,
 'fantasi': 1695,
 'robinwilliam': 3815,
 'disappear': 1311,
 'wed': 4871,
 'ancient': 255,
 'feud': 1738,
 'neighbor': 3078,
 'fish': 1767,
 'buddi': 661,
 'john': 2477,
 'max': 2863,
 'italian': 2412,
 'restaur': 3741,
 'local': 2707,
 'shop': 4053,
 'alarm': 202,
 'worri': 4956,
 'll': 2702,
 'scare': 3914,
 'away': 410,
 'cook': 1036,
 'hot': 2206,
 'time': 4538,
 'romanc': 3827,
 'waltermatthau': 4836,
 'jacklemmon': 2419,
 'ann': 271,
 'bestfriend': 514,
 'duringcreditssting': 1429,
 'cheat': 808,
 'step': 4264,
 'women': 4934,
 'hold': 2165,
 'breath': 624,
 'wait': 4826,
 'elu': 1499,
 'good': 1962,
 'man': 2796,
 'break': 620,
 'string': 4300,
 'lovers': 2742,
 'confid': 995,
 'robin': 3813,
 'talk': 4427,
 'determin': 1268,
 'better': 520,
 'way': 4859,
 'drama': 1392,
 'singlemoth': 4097,
 'divorc': 1351,
 'just': 2522,
 'georg': 1919,
 'bank': 433,
 'ha': 2039,
 'recov': 3660,
 'daughter': 1174,
 'wedding': 4872,
 'receiv': 3649,
 'news': 3100,
 'pregnant': 3461,
 'george': 1920,
 'wife': 4898,
 'nina': 3118,
 'expect': 1634,
 'wa': 4820,
 'plan': 3379,
 'sell': 3977,
 'home': 2173,
 'like': 2678,
 'chang': 782,
 'arriv': 340,
 'kid': 2551,
 'age': 178,
 'motherdaughterrelationship': 3000,
 'pregnanc': 3460,
 'obsess': 3155,
 'master': 2850,
 'thief': 4505,
 'neil': 3082,
 'lead': 2629,
 'crew': 1103,
 'variou': 4754,
 'insan': 2338,
 'heist': 2120,
 'lo': 2704,
 'angel': 262,
 'mental': 2895,
 'unstabl': 4722,
 'detective': 1267,
 'vincent': 4793,
 'pursu': 3566,
 'rest': 3740,
 'recogn': 3654,
 'respect': 3737,
 'abil': 101,
 'dedic': 1205,
 'awar': 408,
 'cat': 752,
 'end': 1525,
 'violence': 4796,
 'action': 131,
 'crime': 1105,
 'thriller': 4522,
 'alpacino': 229,
 'robertdeniro': 3805,
 'valkilm': 4744,
 'detect': 1266,
 'chase': 805,
 'shoot': 4051,
 'honor': 2184,
 'murder': 3021,
 'suspens': 4390,
 'betray': 517,
 'money': 2976,
 'gang': 1889,
 'cultfilm': 1132,
 'ex': 1613,
 'loner': 2716,
 'neo': 3084,
 'noir': 3125,
 'gunfight': 2031,
 'ugli': 4667,
 'remark': 3703,
 'change': 783,
 'harbor': 2071,
 'feel': 1722,
 'crush': 1125,
 'carefr': 729,
 'playboy': 3389,
 'befor': 487,
 'business': 686,
 'focu': 1792,
 'brother': 646,
 'someth': 4168,
 'say': 3910,
 'brotherbrotherrelationship': 647,
 'chauffeur': 806,
 'millionair': 2935,
 'mischiev': 2949,
 'young': 4986,
 'tom': 4554,
 'wit': 4926,
 'deadli': 1183,
 'joe': 2474,
 'becom': 482,
 'futur': 1879,
 'family': 1688,
 'choo': 830,
 'becau': 481,
 'town': 4576,
 'alcohol': 206,
 'accu': 125,
 'sever': 4014,
 'tri': 4617,
 'retriev': 3751,
 'intern': 2368,
 'superstar': 4362,
 'jean': 2447,
 'claud': 876,
 'van': 4751,
 'team': 4446,
 'power': 3449,
 'tension': 4473,
 'suspen': 4389,
 'set': 4008,
 'drop': 1411,
 'stanley': 4248,
 'cup': 1136,
 'portray': 3434,
 'father': 1708,
 'suddenli': 4336,
 'taken': 4424,
 'dure': 1428,
 'championship': 778,
 'hockey': 2164,
 'captor': 720,
 'demand': 1224,
 'billion': 535,
 'dollar': 1365,
 'frantic': 1842,
 'motion': 3002,
 'rescu': 3726,
 'abort': 104,
 'impend': 2280,
 'explo': 1646,
 'final': 1758,
 'claudevandamm': 877,
 'hostag': 2203,
 'explos': 1650,
 'jame': 2427,
 'bond': 587,
 'mysteri': 3038,
 'head': 2102,
 'prevent': 3479,
 'leader': 2630,
 'weapon': 4865,
 'devast': 1270,
 'reveng': 3759,
 'britain': 636,
 'piercebrosnan': 3361,
 'kgb': 2548,
 'st': 4237,
 'widow': 4895,
 'presid': 3470,
 'andrew': 260,
 'shepherd': 4038,
 'men': 2893,
 'anyth': 296,
 'want': 4839,
 'covet': 1083,
 'sydney': 4412,
 'ellen': 1495,
 'wade': 4822,
 'washington': 4852,
 'attempt': 377,
 'court': 1077,
 'spark': 4203,
 'wild': 4901,
 'rumor': 3855,
 'approv': 313,
 'michaelj': 2916,
 'fox': 1831,
 'newlov': 3098,
 'lawyer': 2624,
 'vampire': 4749,
 'fall': 1681,
 'prey': 3481,
 'charm': 803,
 'join': 2487,
 'search': 3950,
 'fresh': 1856,
 'blood': 564,
 'enter': 1548,
 'dr': 1386,
 'abl': 102,
 'count': 1060,
 'horror': 2197,
 'spoof': 4227,
 'outcast': 3220,
 'half': 2045,
 'wolf': 4931,
 'risk': 3788,
 'life': 2668,
 'epidem': 1558,
 'ravag': 3623,
 'alaska': 203,
 'dog': 1363,
 'star': 4249,
 'cast': 748,
 'thi': 4504,
 'epic': 1557,
 'look': 2721,
 'american': 243,
 'richard': 3771,
 'carri': 739,
 'fate': 1707,
 'battl': 467,
 'self': 3975,
 'destruct': 1264,
 'span': 4200,
 'troubl': 4634,
 'california': 701,
 'shock': 4049,
 'scandal': 3912,
 'histori': 2155,
 'anthonyhopkin': 284,
 'biographi': 538,
 'govern': 1970,
 'historicalfigur': 2156,
 'morgan': 2991,
 'adam': 140,
 'slave': 4125,
 'william': 4908,
 'shaw': 4033,
 'quest': 3575,
 'treasur': 4609,
 'map': 2809,
 'unfortunately': 4699,
 'held': 2121,
 'uncle': 4677,
 'skeptic': 4112,
 'complet': 973,
 'difficult': 1295,
 'effort': 1475,
 'british': 637,
 'crown': 1118,
 'pirat': 3370,
 'ship': 4044,
 'gambl': 1885,
 'paradi': 3258,
 'la': 2588,
 'vega': 4756,
 'dark': 1168,
 'mafia': 2775,
 '1970': 35,
 'rich': 3770,
 'mr': 3016,
 'dies': 1292,
 'leav': 2634,
 'second': 3956,
 'poor': 3424,
 'rule': 3852,
 'inheritance': 2327,
 'basedonnovel': 453,
 'servant': 4004,
 'inherit': 2326,
 'ted': 4452,
 'night': 3112,
 'job': 2472,
 'hotel': 2207,
 'veri': 4765,
 'unusu': 4725,
 'guest': 2024,
 'outrag': 3224,
 'evening': 1597,
 'servic': 4005,
 'serv': 4003,
 'happen': 2062,
 'antoniobandera': 292,
 'witch': 4927,
 'bet': 515,
 'losangel': 2725,
 'hoodlum': 2186,
 'womandirector': 4933,
 'summon': 4350,
 'ace': 126,
 'peril': 3324,
 'journey': 2501,
 'jungl': 2517,
 'africa': 172,
 'miss': 2952,
 'sacr': 3870,
 'friendli': 1860,
 'tribe': 4622,
 'accomplish': 122,
 'princess': 3488,
 'princ': 3486,
 'warrior': 4848,
 'result': 3745,
 'viciou': 4771,
 'war': 4840,
 'bat': 464,
 'veng': 4758,
 'new': 3093,
 'york': 4984,
 'transit': 4600,
 'cop': 1039,
 'decid': 1202,
 'steal': 4261,
 'subway': 4328,
 'foster': 1825,
 'fellow': 1728,
 'protect': 3537,
 'woodyharrelson': 4942,
 'newyorkc': 3102,
 'palmer': 3253,
 'miami': 2913,
 'mobster': 2968,
 'sent': 3986,
 'boss': 596,
 'psychopath': 3552,
 'collect': 927,
 'bad': 420,
 'debt': 1191,
 'harri': 2081,
 'hollywood': 2170,
 'produc': 3507,
 'special': 4206,
 'films': 1757,
 'meet': 2883,
 'harry': 2084,
 'lady': 2598,
 'romant': 3830,
 'fly': 1791,
 'pitch': 3373,
 'stori': 4281,
 'movi': 3013,
 'idea': 2249,
 'realli': 3639,
 'aren': 322,
 'different': 1294,
 'johntravolta': 2485,
 'genehackman': 1907,
 'travel': 4607,
 'busi': 685,
 'gangster': 1891,
 'violenc': 4795,
 'drug': 1413,
 'psychologist': 3551,
 'femal': 1730,
 'work': 4946,
 'togeth': 4550,
 'serial': 3998,
 'killer': 2559,
 'past': 3287,
 'psycholog': 3550,
 'serialkil': 3999,
 'cowardli': 1085,
 'assassin': 360,
 'robert': 3804,
 'funer': 1875,
 'kill': 2557,
 'promin': 3521,
 'rival': 3791,
 'hire': 2153,
 'gun': 2030,
 'grisli': 2010,
 'results': 3746,
 'horrifi': 2196,
 'innoc': 2334,
 'return': 3752,
 'civilian': 860,
 'contract': 1026,
 'grow': 2017,
 'danger': 1161,
 'target': 4433,
 'mark': 2826,
 'sylvesterstallon': 4413,
 'juliannemoor': 2510,
 'cia': 846,
 'hitman': 2161,
 'shootout': 4052,
 'silenc': 4079,
 'caribbean': 732,
 'harass': 2070,
 'classmat': 873,
 'won': 4935,
 'accept': 116,
 'appearance': 307,
 'shi': 4040,
 'known': 2577,
 'struggl': 4308,
 'fit': 1771,
 'cruel': 1120,
 'stop': 4279,
 'display': 1336,
 'allow': 225,
 'incr': 2298,
 'things': 4509,
 'phenomenon': 3340,
 'imagined': 2272,
 'sciencefict': 3928,
 'ben': 503,
 'screenwrit': 3941,
 'lost': 2730,
 'everyth': 1606,
 'drinking': 1407,
 'drink': 1406,
 'death': 1188,
 'form': 1816,
 'non': 3127,
 'interf': 2367,
 'pact': 3242,
 'prostitut': 3533,
 'nicolascag': 3109,
 'casino': 747,
 'lovesick': 2744,
 'dyinganddeath': 1436,
 'pretend': 3477,
 'order': 3204,
 'manipul': 2803,
 'film': 1753,
 'version': 4766,
 'classic': 871,
 'jealousi': 2446,
 'moor': 2988,
 'passag': 3284,
 'childhood': 821,
 'tender': 4471,
 'coming': 950,
 'ag': 177,
 'tale': 4425,
 'girlfriend': 1941,
 'samantha': 3890,
 'recal': 3648,
 'summer': 4349,
 'walk': 4830,
 'memori': 2890,
 'lane': 2605,
 'reconcil': 3655,
 'experi': 1639,
 'boys': 609,
 'secrets': 3961,
 'bulli': 671,
 'comingofag': 951,
 'adapt': 141,
 'jane': 2436,
 'novel': 3140,
 'follow': 1795,
 'elliot': 1497,
 'financ': 1760,
 'aristocrat': 328,
 'persuad': 3333,
 'engag': 1534,
 'sea': 3945,
 'captain': 718,
 'later': 2614,
 'forc': 1803,
 'anne': 273,
 'rent': 3712,
 'estat': 1581,
 'admir': 148,
 'thrown': 4526,
 'compani': 963,
 'success': 4331,
 'perhap': 3323,
 'love': 2739,
 'scientist': 3930,
 'societi': 4155,
 'kidnap': 2552,
 'children': 822,
 'dreams': 1399,
 'slow': 4133,
 'process': 3506,
 'dream': 1398,
 'island': 2404,
 'eye': 1662,
 'dystopia': 1441,
 'girl': 1940,
 'provinci': 3543,
 'relat': 3687,
 'shanghai': 4026,
 'recruit': 3662,
 'uncl': 4676,
 '1930': 16,
 'mistress': 2961,
 'cabaret': 695,
 'marin': 2822,
 'johnson': 2484,
 'land': 2601,
 'gig': 1936,
 'teach': 4443,
 'pilot': 3365,
 'program': 3516,
 'bright': 632,
 'teen': 4453,
 'notori': 3139,
 'inner': 2333,
 'high': 2140,
 'school': 3922,
 'terribl': 4478,
 'day': 1180,
 'throw': 4525,
 'wind': 4915,
 'classroom': 874,
 'doe': 1360,
 'arm': 330,
 'attitud': 382,
 'inform': 2324,
 'militari': 2931,
 'train': 4593,
 'fearless': 1716,
 'student': 4311,
 'matter': 2859,
 'cost': 1053,
 'karat': 2533,
 'highschool': 2145,
 'teacher': 4444,
 'convict': 1034,
 'cole': 919,
 'reluctantli': 3700,
 'volunt': 4812,
 'origin': 3210,
 'viru': 4802,
 'wipe': 4921,
 'nearli': 3070,
 'earth': 1449,
 'popul': 3427,
 'survivor': 4384,
 'underground': 4683,
 'mistakenli': 2960,
 '1990': 53,
 'instead': 2351,
 '1996': 58,
 'arrest': 338,
 'lock': 2710,
 'hospital': 2201,
 'psychiatrist': 3547,
 'patient': 3292,
 'son': 4172,
 'famou': 1690,
 'expert': 1644,
 'key': 2547,
 'rogu': 3821,
 'group': 2016,
 'armi': 331,
 '12': 4,
 'thought': 4517,
 'respon': 3738,
 'unleash': 4710,
 'disease': 1325,
 'brucewilli': 654,
 'philadelphia': 3342,
 'timetravel': 4540,
 'post': 3440,
 'apocalypt': 302,
 'littl': 2695,
 'pig': 3364,
 'doesn': 1362,
 'quit': 3583,
 'know': 2575,
 'bunch': 675,
 'odd': 3166,
 'friends': 1861,
 'duck': 1422,
 'think': 4510,
 'fli': 1782,
 'mom': 2973,
 'realiz': 3638,
 'make': 2789,
 'greatest': 1994,
 'sheep': 4035,
 'farmer': 1700,
 'help': 2126,
 'affect': 168,
 'grandson': 1986,
 'relationship': 3688,
 'painter': 3247,
 'author': 395,
 'england': 1536,
 'cottag': 1056,
 'countryside': 1070,
 'deep': 1207,
 'complic': 975,
 'did': 1287,
 'develop': 1271,
 'physic': 3353,
 'soldier': 4160,
 'ralph': 3604,
 'welcom': 4877,
 'remain': 3701,
 'somewhat': 4171,
 'lifestyl': 2670,
 'sexual': 4017,
 'fact': 1668,
 'independentfilm': 2303,
 'justic': 2523,
 'base': 450,
 'true': 4638,
 'row': 3847,
 'strong': 4305,
 'nun': 3148,
 'forgiv': 1814,
 'spiritu': 4222,
 'accompani': 121,
 'susan': 4386,
 'oscar': 3216,
 'best': 513,
 'actress': 137,
 'convinc': 1035,
 'sister': 4101,
 'helen': 2122,
 'susansarandon': 4387,
 'seanpenn': 3949,
 'rape': 3617,
 'despair': 1257,
 'therapist': 4502,
 'discoveri': 1321,
 'courtcas': 1078,
 'sentenc': 3987,
 'russian': 3864,
 'thoma': 4514,
 'passeng': 3285,
 'close': 894,
 'elli': 1496,
 'thu': 4528,
 'start': 4253,
 'america': 242,
 'immigr': 2277,
 'times': 4539,
 'emigr': 1507,
 'decad': 1193,
 'ago': 185,
 'onc': 3184,
 'letter': 2655,
 '3d': 90,
 'trace': 4580,
 'counter': 1061,
 'check': 809,
 'old': 3178,
 'photograph': 3350,
 'use': 4737,
 'antiqu': 288,
 'viewer': 4785,
 'today': 4548,
 'audienc': 385,
 'big': 528,
 'appl': 308,
 'ident': 2252,
 'differ': 1293,
 'orphan': 3213,
 'amanda': 234,
 'wealthi': 4864,
 'camp': 705,
 'switch': 4407,
 'play': 3388,
 'dad': 1153,
 'roger': 3820,
 'kind': 2562,
 'social': 4153,
 'worker': 4948,
 'care': 727,
 'beverli': 522,
 'hill': 2150,
 'date': 1173,
 'hopelessli': 2191,
 'tai': 4420,
 'popular': 3428,
 'disapprov': 1315,
 'right': 3781,
 'gayinterest': 1901,
 'conflict': 997,
 'south': 4191,
 'african': 173,
 'preacher': 3455,
 'goe': 1957,
 'commit': 958,
 'city': 858,
 'shakespeare': 4024,
 'transplant': 4602,
 'king': 2564,
 'depict': 1239,
 'retir': 3749,
 'destin': 1260,
 'burn': 679,
 'address': 145,
 'issu': 2409,
 'black': 550,
 'involv': 2391,
 'vietnam': 4783,
 'subsequ': 4325,
 'progress': 3517,
 'civil': 859,
 'unit': 4703,
 'states': 4257,
 '1960s': 30,
 'aspir': 359,
 'physician': 3354,
 'charl': 797,
 'ii': 2260,
 'save': 3908,
 'someon': 4167,
 'provid': 3541,
 'marri': 2828,
 'queen': 3574,
 'given': 1943,
 'situat': 4106,
 'eventually': 1601,
 'posit': 3436,
 'wealth': 4863,
 'grace': 1974,
 'reunion': 3754,
 'rediscov': 3666,
 'medicin': 2879,
 'mean': 2871,
 'robertdowneyjr': 3806,
 'samneil': 3891,
 'gener': 1908,
 'sorcer': 4182,
 'victori': 4776,
 'hand': 2053,
 'mortal': 2995,
 'enemies': 1530,
 'win': 4914,
 'tournament': 4573,
 'desol': 1256,
 'reign': 3682,
 'forever': 1811,
 'overcom': 3229,
 'seemingli': 3969,
 'odds': 3167,
 'demons': 1227,
 'video': 4779,
 'monster': 2979,
 'gore': 1964,
 'basedonvideogam': 458,
 'televi': 4460,
 'therefor': 4503,
 'husband': 2241,
 'independ': 2302,
 'director': 1307,
 'gu': 2021,
 'brilliant': 633,
 'nicol': 3108,
 'role': 3822,
 'nicolekidman': 3110,
 'winter': 4920,
 'soon': 4179,
 'graduat': 1977,
 'cold': 917,
 'feet': 1724,
 'suspect': 4388,
 'fiancé': 1741,
 'clear': 880,
 'visit': 4804,
 'grandmother': 1985,
 'great': 1992,
 'aunt': 389,
 'member': 2887,
 'passion': 3286,
 'cour': 1074,
 'wisdom': 4923,
 'advic': 166,
 'marriag': 2829,
 'extramaritalaffair': 1657,
 'grandmoth': 1984,
 'homicid': 2177,
 'desper': 1258,
 'hunt': 2236,
 'seven': 4012,
 'haunt': 2095,
 'tortur': 4567,
 'victim': 4773,
 'season': 3952,
 'research': 3728,
 'sin': 4090,
 'mind': 2937,
 'partner': 3279,
 'unravel': 4717,
 'case': 744,
 'morganfreeman': 2992,
 'drugdeal': 1415,
 'investig': 2386,
 'polic': 3411,
 'come': 942,
 'disney': 1332,
 'nativ': 3058,
 'woman': 4932,
 'arrang': 336,
 'village': 4791,
 'vision': 4803,
 'tell': 4462,
 'face': 1666,
 'smith': 4141,
 'settler': 4011,
 'coloni': 934,
 'music': 3028,
 'nativeamerican': 3059,
 'virginia': 4800,
 'song': 4173,
 'settl': 4010,
 'professor': 3512,
 'larg': 2609,
 'urban': 4734,
 'university': 4707,
 'strang': 4288,
 'attract': 384,
 'free': 1851,
 'liber': 2663,
 'carniv': 736,
 'lgbt': 2659,
 'interrog': 2371,
 'fed': 1719,
 'mythic': 3042,
 'lord': 2724,
 'draw': 1395,
 'multi': 3018,
 'million': 2934,
 'san': 3895,
 'pedro': 3311,
 'survivors': 4385,
 'lure': 2757,
 'supernatur': 4359,
 'rel': 3686,
 'theft': 4497,
 'crimin': 1107,
 'hungarian': 2233,
 'turn': 4649,
 'bodyguard': 581,
 'psychot': 3553,
 'lover': 2741,
 'month': 2983,
 'earlier': 1447,
 'super': 4354,
 'uniqu': 4702,
 'anoth': 280,
 'erupt': 1572,
 'triangl': 4620,
 'adopt': 152,
 'baby': 416,
 'geniu': 1912,
 'biolog': 539,
 'mother': 2999,
 'linda': 2683,
 'ash': 351,
 'porn': 3430,
 'reform': 3672,
 'lifestyle': 2671,
 'greek': 1998,
 'mytholog': 3043,
 'quirki': 3582,
 'comedy': 946,
 'woodyallen': 4941,
 'child': 820,
 'conman': 1001,
 'communist': 961,
 'shoe': 4050,
 'factori': 1670,
 'requir': 3725,
 'design': 1252,
 'impoverish': 2287,
 'confu': 999,
 'polit': 3418,
 'prison': 3493,
 'itali': 2411,
 'fund': 1874,
 'project': 3518,
 'unexpectedli': 4692,
 'tragic': 4590,
 'person': 3330,
 'poverti': 3446,
 'foreign': 1807,
 'depress': 1241,
 'texa': 4485,
 'exchang': 1621,
 'anna': 272,
 'hopeless': 2190,
 'introduc': 2379,
 'soccer': 4152,
 'hero': 2133,
 'assist': 365,
 'whip': 4890,
 'shape': 4028,
 'pair': 3248,
 'build': 666,
 'solv': 4166,
 'sand': 3896,
 'older': 3179,
 'georgia': 1923,
 'folk': 1794,
 'singer': 4093,
 'bar': 436,
 'band': 429,
 'circuit': 852,
 'hit': 2158,
 'choic': 828,
 'finally': 1759,
 'heel': 2116,
 'rough': 3843,
 'voic': 4809,
 'crowd': 1117,
 ...}

getting ucliedian disatnce in higher dimension is not accurate 
so we are taking cosine similarity

In [4]:
from sklearn.metrics.pairwise import cosine_similarity

In [36]:
np.savetxt('new_movies_vector.csv',movies_vector,delimiter=',')
#to_excel('./datasets/new_movies_vector.xlsx')

In [2]:
import numpy as np

In [3]:
movies_vector=np.loadtxt('./datasets/new_movies_vector.csv',delimiter=',',max_rows=30000)

KeyboardInterrupt:

In [37]:
import gc

gc.collect()

227356

In [6]:
#function to resolve memmory error while doing cosine similarity
#no idea how it works, got it from chatgpt
def compute_cosine_similarity_in_chunks(X, chunk_size=1000):
    num_chunks = X.shape[0] // chunk_size + (X.shape[0] % chunk_size != 0)
    num_dims = X.shape[1:]
    similarities = np.zeros((X.shape[0], X.shape[0], *num_dims))
    for i in range(num_chunks):
        start = i * chunk_size
        end = (i + 1) * chunk_size
        chunk = X[start:end, ...]
        chunk_similarities = cosine_similarity(chunk.reshape(chunk.shape[0], -1), X.reshape(X.shape[0], -1))
        similarities[start:end, ...] = chunk_similarities.reshape(*chunk_similarities.shape[:2], *num_dims)
    return similarities

In [7]:
similarity_matrix=compute_cosine_similarity_in_chunks(movies_vector)

MemoryError: Unable to allocate 75.1 TiB for an array with shape (45435, 45435, 5000) and data type float64

In [7]:
#getting cosine similarity of the mvector
similarity_matrix=cosine_similarity(movies_vector)

NameError: name 'cosine_similarity' is not defined

In [11]:
similarity_matrix.shape

(30000, 30000)

In [13]:
#saving cosine similar matrix
np.savetxt('./datasets/cosine_similar_matrix_array.csv',similarity_matrix,delimiter=",")

In [3]:
similarity_matrix=np.loadtxt('./datasets/cosine_similar_matrix_array.csv',delimiter=",",max_rows=30000)

In [5]:
def recomend_movie (movie):
    movie_index=new_movies_df[new_movies_df['title']==movie].index[0]
    distances=similarity_matrix[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x [1])[1:6]

    for i in movies_list:
        print(new_movies_df.iloc[i[0]].title)

In [7]:
new_movies_df= pd.read_excel("./datasets/new_movies_metadata.xlsx",nrows=30000)

In [8]:

recomend_movie('Titanic')

NameError: name 'similarity_matrix' is not defined

In [7]:
poster_path_df=pd.read_csv('./datasets/links.csv',nrows=30000)
def poster_path(movie_index):
    return poster_path_df[poster_path_df['id']==movie_index].poster_path


print(poster_path(2))

4376    /a8g0q2R4cwLc5a9SSBuqq6GhSlq.jpg
Name: poster_path, dtype: object

In [1]:
import numpy as np
movies_vector=np.loadtxt('./datasets/new_movies_vector.csv',delimiter=',',skiprows=1,max_rows=2)
movies_vector

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])